
body{
    
 
    height: 100vh;
    width: 100%;
    position: relative;
    
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;

    
}
section::before{
    content: '';
    position: absolute;
    inset: 0;
    background-image:url('./img/chuck.jfif') ;
    background-size: 100% 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-position: bottom;
    width: 100vw;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
div{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    
}
#button{
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 50%;
    border: 2px solid brown ;
    cursor: pointer;
    background-color: rgba(1,1,1,0.4);
    transition:0.5s;
}

#button:hover{
    scale:1.1;
}

#maior{
    margin-top: 30px;
    height: 50px;
    width: 50px;
    border: none;
    border: 2px solid red;
    border-radius: 50%;
    color: red;
    background-color: black;
}